table {
    border: 2px;
    color: aliceblue;
    text-align: center;
}
body {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    flex-direction: column;
}
.cantidad {
    padding-right: 10px;
    padding-left: 10px;
}
td {
    padding-right: 10px;
    padding-left: 10px;
}
.regresar {
    position: fixed;
    bottom: 20px;
    right: 20px;
    border: 2px solid white;
    padding: 4px;
    color: antiquewhite;
    background-color: black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    width: 100px;
    cursor: pointer;
}